body {
	background: url(../images/title-bg.jpg) no-repeat center top;
	margin: 0;
	/* margin: 0 auto; */
}

header {
	height: 1rem;
    display: -webkit-flex;
    display: flex;
	justify-content: space-between;
}

.logo {
	height: 1rem;
	width: 3.6rem;
	dominant-baseline: middle;
}

.logo .text {
	font-size: 0.36rem;
	font-weight: bold;
	fill: none;
	stroke-width: 0.02rem;
	stroke-dasharray: 9rem 3.1rem;
	animation: stroke 6s infinite linear;
}

.logo .text-1 {
	stroke: #3498db;
	text-shadow: 0rem 0rem 0.05rem #3498db;
	animation-delay: -1.5s;
}

.logo .text-2 {
	stroke: #f39c12;
	text-shadow: 0rem 0rem 0.05rem #f39c12;
	animation-delay: -3s;
}

.logo .text-3 {
	stroke: #e74c3c;
	text-shadow: 0rem 0rem 0.05rem #e74c3c;
	animation-delay: -4.5s;
}

.logo .text-4 {
	stroke: #9b59b6;
	text-shadow: 0rem 0rem 0.05rem #9b59b6;
	animation-delay: -6s;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: -400;
	}
}


input {
	display: block;
	border: 0.01rem solid transparent;
	background-color: #f1f1f1;
	padding: 0.1rem;
	font-size: 0.16rem;
}

.trackBar {
	display: inline-flex;
	justify-content: space-between;
	margin: 0.3rem 0.2rem;
	height: 0.4rem;
	width: 2.24rem;
}

#tracking_number {
	width: 1.4rem;
}

#tracker_button {
	width: 0.6rem;
}

.topnav {
	height: 0.5rem;
    display: -webkit-flex;
    display: flex;
	background-color: #FFFFFF10;
}

.topnav a {
	color: #FFFFFF;
	text-align: center;
	padding: 0.14rem 0.16rem;
	text-decoration: none;
	font-size: 0.18rem;
}

.topnav a:hover {
	background-color: #FFFFFF40;
}

.topnav a.active {
	/* background-color: #EEEEEE; */
	color: #00FFFF;
}